{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="hero py-5">
    <div class="container text-center">
        <h1 class="fs-3 fs-md-2 fs-lg-1">Тестирование проекта</h1>
        <p class="fs-6 fs-md-5 fs-lg-4">Демонстрация базового тестирования и проверки функционала сайта</p>
    </div>
</section>

<div class="container mt-5">
    <div class="row g-4">
        <div class="col-12 col-sm-6">
            <div class="glass-card h-100 d-flex flex-column">
                <h5>Главная страница</h5>
                <p class="flex-grow-1">Проверка отображения видео-фона, hero-блока и карточек с функционалом.</p>
            </div>
        </div>

        <div class="col-12 col-sm-6">
            <div class="glass-card h-100 d-flex flex-column">
                <h5>Презентации</h5>
                <p class="flex-grow-1">Проверка корректного отображения списка презентаций, открытия PDF в popup и скачивания файлов.</p>
            </div>
        </div>

        <div class="col-12 col-sm-6">
            <div class="glass-card h-100 d-flex flex-column">
                <h5>Управление проектом</h5>
                <p class="flex-grow-1">Проверка отображения всех этапов проекта с изображениями и описанием, адаптивность карточек.</p>
            </div>
        </div>

        <div class="col-12 col-sm-6">
            <div class="glass-card h-100 d-flex flex-column">
                <h5>Документация</h5>
                <p class="flex-grow-1">Проверка корректного отображения информации о процессе разработки, используемых технологиях и Agile/Kanban.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}